:root{
    --preto-cinza: #393535;
    --azul-tiffany: #3AD3CA;
    --branco: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;    ;
}
.cabecalho{
    background-color: var(--preto-cinza);
    display: flex; justify-content: space-between;
}
.logo{
    width: 100;
    margin: 10px;
}
.menu-item{
    display: inline-block;
    padding: 10px;
    margin-top: 80px;
    color: var(--branco);
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
.principal{
    background-color: var(--preto-cinza);
    background-image:linear-gradient(var(--branco)) ;
    display:flex ;
    justify-content: center;
    align-items: center;
}
.principal__titulo{
    padding-left: 100px;
    color: var(--branco);
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
.principal__texto{
    padding: 10PX;
    color: var(--branco);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.principal__imagem{
    width:40%;
    padding: 150px;
}
